{{ define "main" }}
{{ partial "page-header" . }}

<section class="pt-10 section-sm light-bg xl:pt-0">
  <div class="container pb-10">
    <div class="justify-center row ">
      <div class="text-center md:col-10 lg:col-7">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>

  <div class="container flex flex-row flex-wrap justify-center gap-x-8 gap-y-8">
    {{ range .Params.columns }}
    <div class="flex flex-col content-box">
      <div class="flex flex-col items-left">
        <div class="mb-6 text-dark dark:text-white">
          {{ partial "image" (dict "Src" .image "Size" "" "Class" "w-60" "Alt" "") }}
        </div>
        <h3 class="mb-2 font-semibold h5 font-primary">
          {{ .title }}
        </h3>
        <p class="mb-4 text-dark dark:text-white">
          {{ .designer | markdownify }}
        </p>
        <p class="mb-4 italic text-dark dark:text-white">
          {{ .keywords | markdownify }}
        </p>
        <div>
          <span class="text-dark dark:text-white">
            <a href="{{ .website }}"> {{ .company | markdownify }} </a>
          </span> | <span class="text-dark dark:text-white">
            <a href="{{ .pattern_link }}"> {{ .CTA | markdownify }} </a>
          </span>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}