{{ define "main" }}
{{ partial "post-header" . }}

  <section class="section pt-7 light-bg">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <div class="content mb-10">
            {{ .Content | markdownify }}
          </div>
          <div class="flex md:flex-row flex-col md:items-start md:justify-between justify-center">
            {{ $tags:= .Params.tags }}
            {{ if $tags }}
              <div class="md:col-6 mb-10 flex md:flex-row flex-col md:mb-0 md:items-start items-center gap-y-4 md:gap-y-0">
                <h5 class="mr-3">{{ T "tags" }}&nbsp;:</h5>
                <ul class="flex flex-wrap justify-center md:justify-start">
                  {{ range $i,$p:= $tags }}
                    <li class="inline-block">
                      <a
                        class="tag-btn bg-theme-light"
                        href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                        {{ . | lower }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
            <div class="flex md:items-start items-center flex-col md:flex-row gap-y-4 md:gap-y-0">
              {{ partial "social-share" (dict "Context" . "Class" "flex flex-row flex-wrap share-icons" "Title" (T "share") "Facebook" false "Twitter" false "Email" false "Reddit" false "Fediverse" false "Copy" false "Whatsapp" false "Telegram" false "Linkedin" false "Pinterest" false "Tumblr" false "Vk" false) }}
              {{ partial "social-share" (dict "Context" . "Class" "flex flex-row flex-wrap share-icons" "Whatsapp" false "Telegram" false "Linkedin" false "Pinterest" false "Tumblr" false "Vk" false) }}
            </div>
          </div>
        </article>
      </div>

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4 md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}