{{ define "main" }}
{{ partial "page-header" . }}

<section class="pt-10 section-sm light-bg xl:pt-0">
  <div class="container pb-10">
    <div class="justify-center row ">
      <div class="text-center md:col-10 lg:col-7">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>

  <div class="container flex flex-row flex-wrap justify-between gap-x-8 gap-y-8">
    {{ range .Params.columns }}
    <div class="flex flex-col items-center flex-grow text-center portfolio-box gap-y-4">
      <div class="text-dark dark:text-white">
        {{ partial "image" (dict "Src" .image "Size" "" "Class" "w-full aspect-square rounded-t-lg object-cover" "Alt"
        "") }}
      </div>
      <div class="content-center h-16 px-10">
        <h3 class="font-semibold h5 font-primary">
          {{ .title }}
        </h3>
      </div>
      <div class="flex flex-col items-center flex-grow px-10 pb-10 text-center place-content-between text-dark dark:text-white gap-y-4">
        <div class="">
          by {{ .designer | markdownify }}
        </div>
        <div class="italic">
          Tags: {{ .keywords | markdownify }}
        </div>
        <div class="">
          <a href="{{ .website }}"> {{ .company | markdownify }} </a>
        </div>
        <div class="">
          <a href="{{ .pattern_link }}"> {{ .CTA | markdownify }} </a>
        </div>
    </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}