{{ define "main" }}
{{ partial "page-header" . }}


<section class="pt-10 section-sm xl:pt-0 light-bg">
  <div class="container">
    <div class="justify-center row ">
      <div class="text-left md:col-10 lg:col-7">
        <div class="content">{{ .Content }}</div>

        
      </div>

      <!-- TE basics -->
      {{ partial "te-basics.html" . }}
      <!-- /TE basics -->

      <!-- TE services -->
      {{ partial "te-services.html" . }}
      <!-- /TE services -->

      <!-- TE process -->
      {{ partial "te-process.html" . }}
      <!-- /TE process -->
      
      <!-- FAQ -->
      {{ partial "te-faq.html" . }}
      <!-- /FAQ -->

      <!-- TE testimonials -->
      {{ partial "testimonials.html" . }}
      <!-- /TE testimonials -->

    </div>
  </div>
</section>
{{ end }}